	<div class="pagebodyForms">
		<div class='row'>
	 		<div class='col-lg-12'>
	 			<h4><label></label>Forms Layout Editor</h4>
	 		</div>
	 	</div>
		<div id = "outerBox">
			<div id = "leftBarForms">
				<h3>Available Fields</h3>
				<ul ng-repeat="prop in props" lr-drag-src="usedProps" lr-drop-target="usedProps">
					<p>{{prop.FPNAME}}</p>
				</ul>
			</div>
			<div id = "formsContent">
		 		<button class='wedobtn' ng-click='addSection()'>Add Section</button>
		 		<button class='wedobtn' ng-click='submit()'>Submit</button>
		 		<button class='wedobtn' ng-click='reset()'>Reset</button>
		 		<div style="margin-left: 20%;">
		 			<div ng-repeat="layout in layouts" style="clear:both;">
		 				<div ng-repeat="i in getColNum(layout.Columns) track by $index">
		 					<div style="height:300px;float:left; border: 1px solid;" ng-style="{'width':300/layout.Columns}">
		 						<div style="height:40px;" ng-repeat="item in t = angular.equals(t,getLayouts(layout.SectionSeq,$index)) ? t:getLayouts(layout.SectionSeq,$index)" 
		 							lr-drop-target="{{layout.SectionSeq+'usedProps'+$parent.$index}}"
		 							lr-drag-src="usedProps">
		 							<label style="padding:7px;">{{item.FPNAME}}</label>
		 						</div>
		 					</div>
		 				</div>
		 			</div>
				</div>
			</div>
    	</div>
    </div>