
<div>
	<div id="buttonBox">
		<h4 id = "pageheader">Notifications</h4>
	</div>
	<label class="login-carderror" style="margin-left:16.5%;">{{errorLabel}}</label><br/>
	<div style="display: inline-block; vertical-align: top; width: 40%; position: absolute; left: 35%;">
		<div ng-repeat="notif in notifications">
			<div ng-if="notif.Type == 'PNOTE2'">
				<p style="font-weight: bold;">New Note
					<div class="btn-group">
						<label class="readWriteBtn" ng-model="notif.optionRecord.InAppYN" uib-btn-checkbox>Pop-ups</label>
						<label class="readWriteBtn" ng-model="notif.optionRecord.EmailYN" uib-btn-checkbox>Email</label>
					</div>
				</p>
			</div>
			<div ng-if="notif.Type == 'PPMT'">
				<p style="font-weight: bold;">New Task Assigned
					<div class="btn-group">
						<label class="readWriteBtn" ng-model="notif.optionRecord.InAppYN" uib-btn-checkbox>Pop-ups</label>
						<label class="readWriteBtn" ng-model="notif.optionRecord.EmailYN" uib-btn-checkbox>Email</label>
					</div>
				</p>
			</div>
		</div>
		<button id="loginbutton" class="wedobtn" style="width:280px;font-size:1.1em;" ng-click="submitNotifications()">submit</button>
	</div>
</div>