
<div ng-controller="AccountCtrl">
	<label class="login-carderror" style="margin-left:16.5%;">{{errorLabel}}</label><br/>
	<label style="margin-right: 70px;">Old Password</label>
	<input type="password" id="passwordO" ng-model="oldPass" style="width:280px;" class="login-cardinput"></input><br/>
	<label style="margin-right: 65px;">New Password</label>
	<input type="password" id="passwordN" ng-model="newPass" style="width:280px;" class="login-cardinput"></input><br/>
	<label style="margin-right: 15px;">Retype New Password</label>
	<input type="password" id="passwordN2" ng-model="passCheck" style="width:280px;" class="login-cardinput"></input><br/>
	<button id="loginbutton" class="wedobtn" style="width:280px;font-size:1.1em;margin-left:14.5%;" ng-click="submitPassChange()">submit</button>
</div>