
<div ng-controller="AdminCtrl">
	<label class="login-carderror" style="margin-left:16.5%;">{{errorLabel}}</label><br/>
	<p style="font-size: 1.4em;">Great! We'll help you get a new user added. First we just need a little information.</p><br/>
	<label style="margin-right: 132px;">What's their Email Address?</label>
	<input type="text" id="email" ng-model="email" style="width:280px;" class="login-cardinput"></input><br/>
	<label style="margin-right: 55px;">Would you like to add them to a group?</label>
	<select id="group" ng-model="groupSelect.value" style="width:280px; height: 44px; margin-bottom: 5px;" ng-options="group.GRPNAME for group in groups"></select><br/>
	<label style="margin-right: 48px;">What would you like their security to be?</label>
	<select id="security" ng-model="securitySelect.value" style="width:280px; height: 44px; margin-bottom: 25px;" ng-options="sec.SECNAME for sec in security"></select><br/>
	<p style="font-size: 1.4em;">That's all we need for now! We'll send them an email with a link to get started with Traivio.</p>
	<button id="loginbutton" class="wedobtn" style="width:280px;font-size:1.1em;margin-left:14.5%;" ng-click="submitNewUser()">submit</button>
</div>