<div>
	<div id="buttonBox">
		<h4 id = "pageheader">Required Fields</h4>
	</div>
	<label class="login-carderror" style="margin-left:16.5%;">{{errorLabel}}</label><br/>
	<div class="editColumns"  style="width:50%;">
    	<div ng-repeat="field in fields">
       	 	<label style="margin-left: 2%; margin-top: 1%; width: 150px;">{{field.DFNAMID}}</label><input type="checkbox" ng-model="field.checked">
       	</div>
       	<div ng-repeat="field in ufields">
       	 	<label style="margin-left: 2%; margin-top: 1%; width: 150px;">{{field.UNAMID}}</label><input type="checkbox" ng-model="field.checked">
       	</div>
	</div>
	<button id="loginbutton" class="wedobtn" style="width:280px;font-size:1.1em;" ng-click="submitRequired()">submit</button>
</div>