
<div>
	<div id="buttonBox">
		<h4 id = "pageheader">Security</h4>
	</div>
	<label class="login-carderror" style="margin-left:16.5%;">{{errorLabel}}</label><br/>
	<div style="display: inline-block; max-height: 550px; overflow-y: auto;">
		<table style="width: 100%;">
			<tbody style="border: 1px solid #FC635E;">
				<tr ng-repeat="option in users | unique: 'KAJOBDESC'" class="rowUnSelect" selection-model selection-model-on-change="showSecurity(option)">
					<td style="padding-left: 10px;">{{option.KAJOBDESC}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-if="isEditing" style="display: inline-block; vertical-align: top; width: 40%; position: absolute; left: 50%;max-height:550px;">
		<uib-accordion>
			<uib-accordion-group heading = "Administration">
				<h4>Admin Access <input type="checkbox" ng-model="user.isAdmin" style="margin-top: 5px; margin-left: 15px;"></h4>
			</uib-accordion-group>
			<uib-accordion-group heading = "Process">
				<h4>Process Access <input type="checkbox" ng-model="user.isProcess" style="margin-top: 5px; margin-left: 15px;"></h4>
				<p style="font-weight: bold;">New Process 
					<div class="btn-group" ng-if="user.isProcess">
						<label class="readWriteBtn" ng-model="user.taskRights.PNP" uib-btn-radio="'1'">Read-Only</label>
						<label class="readWriteBtn" ng-model="user.taskRights.PNP" uib-btn-radio="'2'">Read/Write</label>
					</div>
				</p>
				<p style="font-weight: bold;">New Task
					<div class="btn-group" ng-if="user.isProcess">
						<label class="readWriteBtn" ng-model="user.taskRights.PNT" uib-btn-radio="'1'">Read-Only</label>
						<label class="readWriteBtn" ng-model="user.taskRights.PNT" uib-btn-radio="'2'">Read/Write</label>
					</div>
				</p>			
				<p style="font-weight: bold;">Process Template Maintenance
					<div class="btn-group" ng-if="user.isProcess">
						<label class="readWriteBtn" ng-model="user.taskRights.PPTM" uib-btn-radio="'1'">Read-Only</label>
						<label class="readWriteBtn" ng-model="user.taskRights.PPTM" uib-btn-radio="'2'">Read/Write</label>
					</div>
				</p>
				<p style="font-weight: bold;">Task Template Maintenance
					<div class="btn-group" ng-if="user.isProcess">
						<label class="readWriteBtn" ng-model="user.taskRights.PTTM" uib-btn-radio="'1'">Read-Only</label>
						<label class="readWriteBtn" ng-model="user.taskRights.PTTM" uib-btn-radio="'2'">Read/Write</label>
					</div>
				</p>
				<p style="font-weight: bold;">System Information
					<div class="btn-group" ng-if="user.isProcess">
						<label class="readWriteBtn" ng-model="user.taskRights.PSI" uib-btn-radio="'1'">Read-Only</label>
						<label class="readWriteBtn" ng-model="user.taskRights.PSI" uib-btn-radio="'2'">Read/Write</label>
					</div>
				</p>
				<p style="font-weight: bold;">Process Configuration
					<div class="btn-group" ng-if="user.isProcess">
						<label class="readWriteBtn" ng-model="user.taskRights.PPC" uib-btn-radio="'1'">Read-Only</label>
						<label class="readWriteBtn" ng-model="user.taskRights.PPC" uib-btn-radio="'2'">Read/Write</label>
					</div>
				</p>
				<p style="font-weight: bold;">Existing Process Maintenance
					<div class="btn-group" ng-if="user.isProcess">
						<label class="readWriteBtn" ng-model="user.taskRights.PEPM" uib-btn-radio="'1'">Read-Only</label>
						<label class="readWriteBtn" ng-model="user.taskRights.PEPM" uib-btn-radio="'2'">Read/Write</label>
					</div>
				</p>
				<p style="font-weight: bold;">Process/Task Reassignment
					<div class="btn-group" ng-if="user.isProcess">
						<label class="readWriteBtn" ng-model="user.taskRights.PREA" uib-btn-radio="'1'">Read-Only</label>
						<label class="readWriteBtn" ng-model="user.taskRights.PREA" uib-btn-radio="'2'">Read/Write</label>
					</div>
				</p>
			</uib-accordion-group>
			<uib-accordion-group heading = "Notes">
				<h4>Notes Access <input type="checkbox" ng-model="user.isNotes" style="margin-top: 5px; margin-left: 15px;"></h4>
				<p style="font-weight: bold;">Notes Maintenance
					<div class="btn-group" ng-if="user.isNotes">
						<label class="readWriteBtn" ng-model="user.taskRights.NOTM" uib-btn-radio="'1'">Read-Only</label>
						<label class="readWriteBtn" ng-model="user.taskRights.NOTM" uib-btn-radio="'2'">Read/Write</label>
					</div>
				</p>
			</uib-accordion-group>
			<uib-accordion-group heading = "Forms">
				<h4>Forms Access <input type="checkbox" ng-model="user.isForms" style="margin-top: 5px; margin-left: 15px;"></h4>
				<p style="font-weight: bold;">Forms Maintenance
					<div class="btn-group" ng-if="user.isForms">
						<label class="readWriteBtn" ng-model="user.taskRights.FRMM" uib-btn-radio="'1'">Read-Only</label>
						<label class="readWriteBtn" ng-model="user.taskRights.FRMM" uib-btn-radio="'2'">Read/Write</label>
					</div>
				</p>
			</uib-accordion-group>
		</uib-accordion>
		<button id="loginbutton" class="wedobtn" style="width:280px;font-size:1.1em;" ng-click="submitSecurity()">submit</button>
	</div>
</div>