@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

@font-face {
    font-family: 'open_sanssemibold';
    src: url('fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.eot');
    src: url('fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.woff') format('woff'),
         url('fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*--- bold-font ---*/
@font-face {
    font-family:'open_sansbold';
    src: url('fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot');
    src: url('fonts/opensans_bold_macroman/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans_bold_macroman/OpenSans-Bold-webfont.woff') format('woff'),
         url('fonts/opensans_bold_macroman/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/opensans_bold_macroman/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*--- bold-font ---*/
/*--- light-font ---*/
@font-face {
    font-family:'open_sanslight';
    src: url('fonts/opensans_light_macroman/OpenSans-Light-webfont.eot');
    src: url('fonts/opensans_light_macroman/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans_light_macroman/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/opensans_light_macroman/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/opensans_light_macroman/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*--- light-font ---*/
/*--- regular-font ---*/
@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot');
    src: url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body{
	margin: 0;
	height: 100%;
}

/*html {
  font-family: 'open_sansregular';
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  color:#4D4D4D;
  background-color:lightgrey;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'open_sansregular';
  position:absolute;
  width:100%;
  height:100%;
}*/

.loginbody {
  background: url(../images/bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'open_sansregular';
  position:absolute;
  width:100%;
  height:100%;
  font-size:13px;
}

.login-card {
  padding: 40px;
  width: 350px;
  background-color: #F2F2F2;
  margin: 50px auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.login-card h4{
	color:#868686;
	font-size:2em;
	text-transform:uppercase;
	font-weight: 400;
}

.login-card h4 label{
	background: #FC635E;
	width: 12px;
	height: 47px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.5em;
}

.login-carderror{
	color: red;
	font-size: 1em;
	width: 100%;
}

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-cardinput{
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-cardinput:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-card a:hover {
  opacity: 1;
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}
	
.loginlogo{
    width: 601px;
    height: 160px;
    margin: 10px auto 10px;
	margin-top:  50px;
	z-index: 999;
	background: url(../images/traivio.png);
  	background-repeat: no-repeat;
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.hover-popup {
	cursor:pointer;
}
.hover-popup:hover {
	border:solid 1px lightgray;
}

.hoverTable tr:hover {
	background: #BFBFBF !important;
	color: white !important;
}