/* ~WIDGET BUTTONS ~*/
            
            .widgetButtons{border: 0px; text-align: center; padding: 5px 0px;}
                .widgetButtons .bb{border: 1px solid #D5D5D5; padding: 5px; margin-top: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin-left: 5px; position: relative;
                                   -moz-box-shadow: inset 0 0 5px #D5D5D5; -webkit-box-shadow: inset 0 0 5px #D5D5D5; box-shadow: inset 0 0 5px #D5D5D5; background-color: #FFF; display: inline-block;}
                
            .widgetButtons .bb:first-child{margin: 0px;}
                .widgetButtons .bb a span[class^=ibb]{opacity: 0.8;}
                
            .widgetButtons .bb > a{display: block; float: left; padding: 20px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}

            .widgetButtons .bb a{
                color: #FFF;
                border: 1px solid #416C9B;
                background: #416C9B;
                background: -moz-linear-gradient(top, #5B7EA4 0%, #416C9B 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5B7EA4), color-stop(100%,#416C9B));
                background: -webkit-linear-gradient(top, #5B7EA4 0%,#416C9B 100%);
                background: -o-linear-gradient(top, #5B7EA4 0%,#416C9B 100%);
                background: -ms-linear-gradient(top, #5B7EA4 0%,#416C9B 100%);
                background: linear-gradient(top, #5B7EA4 0%,#416C9B 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5B7EA4', endColorstr='#416C9B',GradientType=0 );                                                                                                                                          
                -moz-box-shadow: 0 1px 1px #222, 0px 1px 0 #7797ba inset;
                -webkit-box-shadow: 0 1px 1px #222, 0px 1px 0 #7797ba inset;
                box-shadow: 0 1px 1px #222, 0px 1px 0 #7797ba inset;                
            }
            
            .collapseBar{
            	width: 100%;
            	text-align: center;
            }
            
            .collapseArrow{
            	background: url(../images/arrow-up.png); 
            	background-repeat: no-repeat;
            	margin: auto;
            	width:26px;
            	height: 26px;
            	opacity: .5;
            }
            
            .collapseArrow:hover{
            	opacity: 1;
            	cursor: pointer;
            }
            
            .freeSpace{
            	position: relative;
            	float:left;
            	width: 1px;
            	margin-left: 4%;
            	line-height: 22px;
            }
            
            .wrapperBox{
            	width: 260px;
            	height: 140px;
            	position: relative;
            	float: left;
            	margin-left: 2%; 
            	line-height: 22px;
            }
            
            .settingsLink{
/*            	display: block; */
            	list-style-type: none;
            	visibility: hidden;
            	z-index: 999;
            	border: 1px solid #FC635E;
            	background: #FFF;
            	position: absolute;
/*            	right:10px;
            	top:50px; */
            	margin: 0;
				padding: 0;
				right: 3.5%;
            }
            .settingsLink:after{
/*           		content: "";
            	clear: both;
         		display: block; */
            }
            
            .settingsLink li{
/*				float: left; */
            }
            .settingsLink li a{
            	display: block;
            	color: #FC635E;
            	font-weight: bold;
            	font-size: 1em;
            	padding: 10px 15px;
            	width: 140px;
            }
            
            .settingsLink li:hover a{
            	text-decoration: none;
				background: #000;
				cursor: pointer;   
            }
            
            .notifyDiv{
            	visibility: hidden;
            	height: 300px;
            	width: 300px;
            	z-index: 999;
            	border: 1px solid #FC635E;
            	background: #FFF;
            	position: absolute;
            	margin: 0;
				padding-top: 0.5em;
				padding-left: 0.5em;
				right: 25%;
				overflow-y: auto;
            }
                    
            .addWidget{background: url(../images/addButton.png); width: 25px; background-repeat: no-repeat; position: absolute;
            			top: 20%; right: 1%; cursor: pointer; height: 26px;}
            .addWidget:hover{background: url(../images/addButtonB.png); background-repeat: no-repeat;}
            
            .searchBoxCobra{position:absolute; top: 0; right:7%; margin-top: 10px;}
            
            .widgetTitleCobra{position:absolute; text-align: center; width: 100%; top: 0; margin-top: 15px; color: black; font-weight: bold; font-size: 2em; margin-right: 15px;}
            
            .widgetButtons a,.wBlock, .infoBlock{
            	width: 130px;
            	cursor: pointer;
            	position: relative;
                color: #333 !important;
                border: 1px solid #D9D9D9 !important;
                background: #E5E5E5 !important;
                background: -moz-linear-gradient(top, #F9F9F9 0%, #E5E5E5 100%) !important;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(100%,#E5E5E5)) !important;
                background: -webkit-linear-gradient(top, #F9F9F9 0%,#E5E5E5 100%) !important;
                background: -o-linear-gradient(top, #F9F9F9 0%,#E5E5E5 100%) !important;
                background: -ms-linear-gradient(top, #F9F9F9 0%,#E5E5E5 100%) !important;
                background: linear-gradient(top, #F9F9F9 0%,#E5E5E5 100%) !important;
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#E5E5E5',GradientType=0 ) !important;
                -moz-box-shadow: 0 1px 1px #B5B5B5, 0px 1px 0 #FFF inset !important;
                -webkit-box-shadow: 0 1px 1px #B5B5B5, 0px 1px 0 #FFF inset !important;
                box-shadow: 0 1px 1px #B5B5B5, 0px 1px 0 #FFF inset !important;   
                -webkit-backface-visibility: hidden;
                -webkit-transition:width 300ms ease-in-out;
    			-moz-transition:width 300ms ease-in-out;
    			-o-transition:width 300ms ease-in-out;
    			transition:width 300ms ease-in-out;
            }
            
            .widgetHover:hover{
            	width:250px;
            }
            
            .widgetLocked{
            	width: 250px;
            	cursor: pointer;
                color: #333 !important;
                border: 1px solid #D9D9D9 !important;
                background: #E5E5E5 !important;
                background: -moz-linear-gradient(top, #F9F9F9 0%, #E5E5E5 100%) !important;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(100%,#E5E5E5)) !important;
                background: -webkit-linear-gradient(top, #F9F9F9 0%,#E5E5E5 100%) !important;
                background: -o-linear-gradient(top, #F9F9F9 0%,#E5E5E5 100%) !important;
                background: -ms-linear-gradient(top, #F9F9F9 0%,#E5E5E5 100%) !important;
                background: linear-gradient(top, #F9F9F9 0%,#E5E5E5 100%) !important;
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#E5E5E5',GradientType=0 ) !important;
                -moz-box-shadow: 0 1px 1px #B5B5B5, 0px 1px 0 #FFF inset !important;
                -webkit-box-shadow: 0 1px 1px #B5B5B5, 0px 1px 0 #FFF inset !important;
                box-shadow: 0 1px 1px #B5B5B5, 0px 1px 0 #FFF inset !important;   
            }         

/*            .widgetButtons .yellow a,.wBlock.yellow, .infoBlock.yellow{
            	width: 130px;
            	cursor: pointer;
                border: 1px solid #D6AB00 !important;
                background: #ECB200 !important;
                background: -moz-linear-gradient(top, #F7CE00 0%, #ECB200 100%) !important;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7CE00), color-stop(100%,#ECB200)) !important;
                background: -webkit-linear-gradient(top, #F7CE00 0%,#ECB200 100%) !important;
                background: -o-linear-gradient(top, #F7CE00 0%,#ECB200 100%) !important;
                background: -ms-linear-gradient(top, #F7CE00 0%,#ECB200 100% ) !important;
                background: linear-gradient(top, #F7CE00 0%,#E5E5E5 100%) !important;
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7CE00', endColorstr='#ECB200',GradientType=0 ) !important;
                -moz-box-shadow: 0 1px 1px #D39E00, 0px 1px 0 #FFEB89 inset !important;
                -webkit-box-shadow: 0 1px 1px #D39E00, 0px 1px 0 #FFEB89 inset !important;
                box-shadow: 0 1px 1px #D39E00, 0px 1px 0 #FFEB89 inset !important;
                 -webkit-backface-visibility: hidden;
                -webkit-transition:width 300ms ease-in-out;
    			-moz-transition:width 300ms ease-in-out;
    			-o-transition:width 300ms ease-in-out;
    			transition:width 300ms ease-in-out;            
            }             

            .widgetButtons .red a, .wBlock.red, .infoBlock.red{
            	width: 130px;
            	cursor: pointer;
                border: 1px solid #AF2D1C !important;
                background: #CB2C1A !important;
                background: -moz-linear-gradient(top, #D96D3A 0%, #CB2C1A 100%) !important;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D96D3A), color-stop(100%,#CB2C1A)) !important;
                background: -webkit-linear-gradient(top, #D96D3A 0%,#CB2C1A 100%) !important;
                background: -o-linear-gradient(top, #D96D3A 0%,#CB2C1A 100%) !important;
                background: -ms-linear-gradient(top, #D96D3A 0%,#CB2C1A 100%) !important;
                background: linear-gradient(top, #D96D3A 0%,#CB2C1A 100%) !important;
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D96D3A', endColorstr='#CB2C1A',GradientType=0 ) !important;
                -moz-box-shadow: 0 1px 1px #AF2D1C, 0px 1px 0 #FC9E76 inset !important;
                -webkit-box-shadow: 0 1px 1px #AF2D1C, 0px 1px 0 #FC9E76 inset !important;
                box-shadow: 0 1px 1px #AF2D1C, 0px 1px 0 #FC9E76 inset !important;
                 -webkit-backface-visibility: hidden;
                -webkit-transition:width 300ms ease-in-out;
    			-moz-transition:width 300ms ease-in-out;
    			-o-transition:width 300ms ease-in-out;
    			transition:width 300ms ease-in-out;
            }              
            
            .widgetButtons .green a, .wBlock.green, .infoBlock.green{
            	width: 130px;
            	cursor: pointer;
                border: 1px solid #677C13 !important;
                background: #829E18 !important;
                background: -moz-linear-gradient(top, #ADC800 0%, #829E18 100%) !important;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ADC800), color-stop(100%,#829E18)) !important;
                background: -webkit-linear-gradient(top, #ADC800 0%,#829E18 100%) !important;
                background: -o-linear-gradient(top, #ADC800 0%,#829E18 100%) !important;
                background: -ms-linear-gradient(top, #ADC800 0%,#829E18 100%) !important;
                background: linear-gradient(top, #ADC800 0%,#829E18 100%) !important;
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ADC800', endColorstr='#829E18',GradientType=0 ) !important;
                -moz-box-shadow: 0 1px 1px #677C13, 0px 1px 0 #DEF92F inset !important;
                -webkit-box-shadow: 0 1px 1px #677C13, 0px 1px 0 #DEF92F inset !important;
                box-shadow: 0 1px 1px #677C13, 0px 1px 0 #DEF92F inset !important;
                 -webkit-backface-visibility: hidden;
                -webkit-transition:width 300ms ease-in-out;
    			-moz-transition:width 300ms ease-in-out;
    			-o-transition:width 300ms ease-in-out;
    			transition:width 300ms ease-in-out;
            }            

            
            .widgetButtons .blue a, .wBlock.blue, .infoBlock.blue{
            	width: 130px;
            	cursor: pointer;
                border: 1px solid #7E8FC4 !important;
                background: #73A4D9 !important;
                background: -moz-linear-gradient(top, #90C2EE 0%, #73A4D9 100%) !important;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#90C2EE), color-stop(100%,#73A4D9)) !important;
                background: -webkit-linear-gradient(top, #90C2EE 0%,#73A4D9 100%) !important;
                background: -o-linear-gradient(top, #90C2EE 0%,#73A4D9 100%) !important;
                background: -ms-linear-gradient(top, #90C2EE 0%,#73A4D9 100%) !important;
                background: linear-gradient(top, #90C2EE 0%,#73A4D9 100%) !important;
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90C2EE', endColorstr='#73A4D9',GradientType=0 ) !important;
                -moz-box-shadow: 0 1px 1px #7E8FC4, 0px 1px 0 #B2DBFF inset !important;
                -webkit-box-shadow: 0 1px 1px #7E8FC4, 0px 1px 0 #B2DBFF inset !important;
                box-shadow: 0 1px 1px #7E8FC4, 0px 1px 0 #B2DBFF inset !important;
                 -webkit-backface-visibility: hidden;
                -webkit-transition:width 300ms ease-in-out;
    			-moz-transition:width 300ms ease-in-out;
    			-o-transition:width 300ms ease-in-out;
    			transition:width 300ms ease-in-out;
            }      */         
            
            .widgetButtons .bb a:active{
                -moz-box-shadow: 0px 0px 1px #444 inset !important;
                -webkit-box-shadow: 0px 0px 1px #444 inset !important;
                box-shadow: 0px 0px 1px #444 inset !important;
            }
            
            .widgetButtons .bb .caption{position: absolute; right: -5px; top: -5px; font-size: 11px; display: block; padding: 2px 2px; line-height: 13px;
                                        -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background-color: #416C9B; color: #FFF; border: 1px solid #416C9B;}
            
            .widgetButtons .bb .caption{color: #333; border: 1px solid #D9D9D9; background: #E5E5E5;}
 /*           .widgetButtons .bb .caption.yellow{ border: 1px solid #D6AB00; background: #ECB200; }
            .widgetButtons .bb .caption.red{ border: 1px solid #AF2D1C; background: #CB2C1A; }
            .widgetButtons .bb .caption.green{ border: 1px solid #677C13; background: #829E18; }
            .widgetButtons .bb .caption.blue{ border: 1px solid #7E8FC4; background: #73A4D9; } */
                        
            
            /* ~WIDGET BUTTONS ~*/
            
/* block widget */
                .wBlock, .infoBlock{position: relative; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin-bottom: 20px; padding: 0px 5px 5px;
                        color: #FFF;                        
                        background: #416C9B;
                        background: -moz-linear-gradient(top, #5B7EA4 0%, #416C9B 100%);
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5B7EA4), color-stop(100%,#416C9B));
                        background: -webkit-linear-gradient(top, #5B7EA4 0%,#416C9B 100%);
                        background: -o-linear-gradient(top, #5B7EA4 0%,#416C9B 100%);
                        background: -ms-linear-gradient(top, #5B7EA4 0%,#416C9B 100%);
                        background: linear-gradient(top, #5B7EA4 0%,#416C9B 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5B7EA4', endColorstr='#416C9B',GradientType=0 );
                        -moz-box-shadow: 0 1px 1px #222, 0px 1px 0 #7797ba inset;
                        -webkit-box-shadow: 0 1px 1px #222, 0px 1px 0 #7797ba inset;
                        box-shadow: 0 1px 1px #222, 0px 1px 0 #7797ba inset;                           
                }                                
                
                    .wBlock .wSpace{background-color: #FFF; padding: 0px 5px; margin: 5px 0px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
                                    -moz-box-shadow: 0px 0px 2px #999 inset; -webkit-box-shadow: 0px 0px 2px #999 inset; box-shadow: 0px 0px 2px #999 inset;}
                    .wBlock .dSpace{ margin: 5px 0px 0px; background-color: #365B85; padding: 3px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; float: left;
                                    -moz-box-shadow: 0px 0px 2px #222 inset; -webkit-box-shadow: 0px 0px 2px #222 inset; box-shadow: 0px 0px 2px #222 inset; width: 115px; min-width: 86px; min-height: 76px;
                                    display: inline-block}
                                        
                    .wBlock .rSpace{width: 115px; float: right; margin: 5px 0px 0px; display: inline-block}
                    
                    .wBlock .rSpace .bottom{background: url(../images/settings.png); background-repeat: no-repeat;
                    						position: absolute; bottom: 0; right: 5px;
                    						width: 25px; height: 25px;}
                    						
                    .wBlock .rSpace .bottom:hover{background: url(../images/settingsb.png); background-repeat: no-repeat;}
                    
                    .wBlock .rSpace .bottomLeft{background: url(../images/trashcan.png); background-repeat: no-repeat;
                    						position: absolute; bottom: 0; right: 27px;
                    						width: 25px; height: 25px;}
                    						
                    .wBlock .rSpace .bottomLeft:hover{background: url(../images/trashcanB.png); background-repeat: no-repeat;}
                    
                    .menu .wBlock{margin-bottom: 0px;}
                    
                    .wBlock.auto{ width: auto; margin-right: 20px; float: left;}
                        .wBlock.auto .dSpace,
                        .wBlock.auto .rSpace{width: auto;}                                        
                    
                        .wBlock .dSpace h3,
                        .wBlock .rSpace h3{margin: 2px 0px; padding: 0px; font-size: 12px; text-align: center; color: #c7e3fc; font-weight: normal; line-height: 14px;
                                           -moz-text-shadow: 0 1px 0 #333; -webkit-text-shadow: 0 1px 0 #333; text-shadow: 0 1px 0 #333;}
                        .wBlock .dSpace span,
                        .wBlock .rSpace span{display: block; text-align: center; color: #FFF; font-size: 12px; line-height: 16px;
                                            -moz-text-shadow: 0 1px 1px #333; -webkit-text-shadow: 0 1px 1px #333; text-shadow: 0 1px 1px #333;}
                            .wBlock .dSpace span.number{font-size: 30px; color: #FFF; font-weight: bold; line-height: 32px;}
                            .wBlock .dSpace span b,
                            .wBlock .rSpace span b{font-weight: normal; color: #c7e3fc;}                        
                        .wBlock .rSpace h3{text-align: left;}
                        .wBlock .rSpace span{text-align: left; margin-top: 2px;}
                        
                        .wBlock .dSpace{background-color: #555;}
                            .wBlock .dSpace h3{color: #F5F5F5;}
                            .wBlock .rSpace span,
                            .wBlock .rSpace span b{color: #000; -moz-text-shadow: 0 1px 1px #FFF; -webkit-text-shadow: 0 1px 1px #FFF; text-shadow: 0 1px 1px #FFF;}
                            .wBlock .rSpace span b{color: #555;}
                            

	.Modal-backdrop{
 		position: fixed;
 		top: 0px;
 		left: 0px;
 		height:100%;
 		width:100%;
 		background: #000;
 		z-index: 1;
 		opacity: 0.5;
	}

	.Modal-holder{
 		position: fixed;
  		top: 5%;
  		left: 15%;
  		width:75%;
  		background: white;
  		z-index: 999;
  		padding: 30px 15px;
	}
	
	.focus-circle{
		height: 127px;
		width: 192px;
		margin-left:10%;
		margin-bottom:3%;
		cursor: pointer;
		overflow: hidden;
		display:inline-block;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px; 
		border-radius: 5px;
	}
	.focus-circle img{
		height: 127px;
		width: 192px;
		-webkit-transition: all 1s ease;
     	-moz-transition: all 1s ease;
       	-o-transition: all 1s ease;
      	-ms-transition: all 1s ease;
        transition: all 1s ease;	
	}
	
	.focus-circle:hover{
		box-shadow: 10px 10px 5px #888888;
	}
	
	.closer{
		position: absolute;
		top: 1%;
		right: 1%;
		font-weight: bold;
		cursor: pointer;
	}
	
	.collapseBarV{
        width: 25px;
        position: absolute;
        z-index: 999;
    }
            
    .collapseArrowV{
    	background: url(../images/arrow-left.png); 
        background-repeat: no-repeat;
        margin: auto;
        width:26px;
        height: 26px;
        opacity: .5;
    }
            
    .collapseArrowV:hover{
    	opacity: 1;
        cursor: pointer;
    }
    
    .editColumns{
    	height: 100%;
    	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    	-moz-column-count: 2; /* Firefox */
    	column-count: 2;
    }
    
    .fakeAccordion{
    	color:#868686; 
    	display: block; 
    	box-sizing: border-box; 
    	border: 1px solid #ddd; 
    	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        margin-bottom: 5px; 
        border-radius: 4px; 
        width: 100%; 
        padding-left: 10px; 
        cursor: pointer;
    }
    
    .fakeAccordion:hover{
    	background: #BFBFBF !important;
		color: white !important;
    }
                        
/*                        .wBlock.green .dSpace{background-color: #677C12;}
                        .wBlock.yellow .dSpace{background-color: #9B7503;}
                        .wBlock.red .dSpace{background-color: #7F1C0F;}
                        .wBlock.blue .dSpace{background-color: #4A82BA;}
                        
                        .wBlock.green .dSpace h3,
                        .wBlock.green .rSpace span b{color: #FFF;}
                        
                        .wBlock.yellow .dSpace h3,
                        .wBlock.yellow .rSpace span b{color: #FFFCD6;}
                        
                        .wBlock.red .dSpace h3,
                        .wBlock.red .rSpace span b{color: #FFE3E2;}
                        
                        .wBlock.blue .dSpace h3,                        
                        .wBlock.blue .rSpace span b{color: #FFF;}
                        
                        .wBlock.yellow .rSpace span,
                        .wBlock.green .rSpace span,
                        .wBlock.red .rSpace span,
                        .wBlock.blue .rSpace span{color: #FFF;} */
                            
            /* block widget */