
<div class="pagebodyAccount">
	<div class='row' id="stay">
	 	<div class='col-lg-12'>
	 		<h4><label></label>Account</h4>
	 	</div>
	 </div>
	<div>
		<div id = "top">
			<div id = "topLeft">
			</div>
			<div id = "topRight"></div>
		</div>
		<div id = "topClear"></div>
		<div id = "outerBox">
			<div id = "leftBar">
				<ul id='accountLink' class='accountLink'>
					<li><a ui-sref="account.profile">Edit Profile</a></li>
					<li><a ui-sref="account.password">Change Password</a></li>
					<li><a ui-sref="account.notifications">Notifications</a></li>
				</ul>
			</div>
			<div id = "accountContent">
		 		<div ui-view="accountViewer"></div>
			</div>
		</div>
	</div>
	<div>&nbsp;</div>
</div>