
<div class="pagebodyAccount">
	<div class='row' id="stay">
	 	<div class='col-lg-12'>
	 		<h4><label></label>Administration</h4>
	 	</div>
	 </div>
	<div>
		<div id = "top">
			<div id = "topLeft">
			</div>
			<div id = "topRight"></div>
		</div>
		<div id = "topClear"></div>
		<div id = "outerBox">
			<div id = "leftBarAdmin">
				<ul id='accountLink' class='accountLink'>
<!--					<li><a ui-sref="administration.user">Add User</a></li> -->
					<li><a ui-sref="administration.newUser">Add User</a></li>
					<li><a ui-sref="administration.groups">Groups</a></li>
					<li><a ui-sref="administration.security">Security</a></li>
					<li><a ui-sref="administration.required">Required Fields</a></li>
				</ul>
			</div>
			<div id = "adminContent">
		 		<div ui-view="adminViewer"></div>
			</div>
		</div>
	</div>
	<div>&nbsp;</div>
</div>