
<div id="page-wrapper" class="pagebody">
	<div class='row' id="stay">
		<div class='col-lg-12' style="white-space: nowrap; overflow: hidden;">
	 		<h4 style="width: 10%;"><label></label>Dashboard</h4>
	 		<div class="widgetTitleCobra" ng-show="isCollapsed"><label>{{bigwidgettitle}}</label></div>
	 		<div class="searchBoxCobra"><input ng-model="query" ng-show="isCollapsed" class="form-control" style="width:100%;" placeholder="Search ..." type="text"/></div>
			<div class="addWidget" ng-click="editWidgetDialog(0)" stop-event="click" data-toggle='modal' data-target='#editDialog'
			data-drag="true" jqyoui-draggable>&nbsp;</div>
		</div>
	</div>
	<div class="row" id="stay" uib-collapse="isCollapsed">
		<div class="wrapperBox" ng-repeat="widget in widgets" lr-drag-src="widgets" lr-drop-target="widgets">
	 		<div class="wBlock clearfix widgetHover" ng-click="showGrid(widget.SeqNum)" 
	 					ng-mouseenter="toggleSpaceIn(widget.SeqNum, widget.isDisabled)" 
	 					ng-mouseleave="toggleSpaceOut(widget.SeqNum, widget.isDisabled)">
	 			<div class="dSpace" ng-style="{'background-color': widget.Color}" >
	 				<h3>{{widget.Title}}</h3>
	 				<span class="number">{{widget.Count}}</span>
	 			</div>
	 			<div class="rSpace" id={{widget.SeqNum}}>
	 				<span>{{widget.CountOverdue}}
	 				<b>Tasks Overdue</b></span>
	 				<span>{{widget.CountDueToday}} <b>Tasks Due Today</b></span>
	 				<div class="bottomLeft" ng-click="deleteWidget(widget.SeqNum)" stop-event="click">&nbsp;</div>
	 				<div class="bottom" ng-click="editWidgetDialog(widget.SeqNum)" stop-event="click" data-toggle='modal' data-target='#editDialog'>&nbsp;</div>
	 			</div>
	 		</div>
	 	</div>
	 </div>
	 <div class="collapseBar">
	 	<div class="collapseArrow" id="collapseArrow" ng-style="checkCollapse()" ng-click="isCollapsed = !isCollapsed">&nbsp;</div>
	 </div>	
	 <div class='row' id="hideable" style='display: none;'>
	 	<div class='col-lg-12' style="text-align: center;">
	 		<button class='wedobtn' ng-attr-style={{buttonstyle}} ng-click="createNew()" stop-event="click" data-toggle='modal' data-target='#createNewDialog'><i class="fa fa-plus"></i> Create New</button>	 
	 		<button class='wedobtn' ng-attr-style={{buttonstyle}} ng-click="startTask($event)"><i class="fa fa-play"></i> Start</button>
	 		<button class='wedobtn' ng-attr-style={{buttonstyle}} ng-click="pauseTask($event)"><i class="fa fa-pause"></i> Pause</button>	
	 		<button class='wedobtn' ng-attr-style={{buttonstyle}} ng-click="completeTask($event)"><i class="fa fa-check-circle"></i> Complete</button>	
	 		<button class='wedobtn' ng-attr-style={{buttonstyle}} ng-click="inactivateTask($event)"><i class="fa fa-ban"></i> Inactivate</button>	
	 		<button class='wedobtn' ng-attr-style={{buttonstyle}} ng-click="reassign()" data-toggle='modal' data-target='#reasssignDialog'><i class="fa fa-users"></i> Reassign</button>	
	 		<notification-icon animation="grow" count="selectedRow.noteCount"><button class='wedobtn' ng-attr-style={{buttonstyle}} ng-click="openSpecificNotes($event)"><i class="fa fa-comments"></i> Notes</button></notification-icon>	
	 		<button class='wedobtn' ng-attr-style={{buttonstyle}} ng-click="sendEmail()" ng-disabled={{emailDisabled}}><i class="fa fa-envelope"></i> Email</button>
	 		<button class='wedobtn' ng-attr-style={{buttonstyle}} ng-click="openOppositeSpecific()">{{oppositeText}}</button>		
	 	</div>
	 </div>

  	<div class="row" id="hideable" style="display: none;">
     	<div class="col-lg-12">
        	<table class="sbtable" st-table="displayedCollection" st-pagination-scroll
        			st-safe-src="rowCollection" class="table table-striped" search-watch-model="query" style="max-height:700px;">
				<thead ng-attr-style={{theadmargin}}>
					<tr>
						<th lr-drag-src="headers" lr-drop-target="headers" ng-repeat="col in displaycolumns" st-sort={{col.sortfunc}} ng-attr-style=width:{{col.WIDTH}}%;{{col.style}}>{{col.NAMID}}</th>
					</tr>
				</thead>
				<tbody ng-attr-style={{tbodyscroll}}>
					<tr st-select-row="row" st-select-mode="multiple" rownumber={{row.rownumber}} ng-repeat="row in displayedCollection" ng-dblclick="openSpecific()" st-selected="rowSelected()">
						<td ng-repeat="col in displaycolumns" ng-attr-style=width:{{col.WIDTH}}%;{{col.colstyle}}>{{row[col.sort]}}
							<img alt="Form" ng-src="{{redForm}}" ng-if="row.FormID != null && row.Response == '' && col.sort=='TaskName'" ng-click="openForm(row.FormID)">
							<img alt="Form" ng-src="{{grayForm}}" ng-if="row.FormID != null && row.Response != '' && col.sort=='TaskName'" ng-click="openFinishedForm(row.FormID, row.Response)">
							<img alt="Subsidiary Process" ng-src="{{subProcImg}}" ng-if="row.SubProc != null && col.sort=='TaskName'">
						</td>
					</tr>
				</tbody>
			</table>
      	</div>
	</div>
	<div ui-view="modal" autoscroll="false"></div>
</div>
	