<div class="pagebodyForms">
	<div>
		<div class="row">
    		<div class="col-lg-12">
        		<h4 id = "pageheader">{{selectedForm.FRNAME}}</h4>
        	</div>
    	</div>
		<div class="row">
			<div class="col-lg-12">
    			<div class="row">
        			<div class="col-lg-12" id = "contentarea">
        				<div ng-if ="isExtForm">
        					<label style = 'margin-top:10px;'>Name *</label>
        					<input class='form-control' id = "name" ng-model="userValues.name" style="margin-left: 10px;" ng-readonly="formIsCompleted" ng-required>
        				</div>
        				<div ng-if ="isExtForm">
        					<label style = 'margin-top:10px;'>Email *</label>
        					<input class='form-control' id = "email" ng-model="userValues.email" style="margin-left: 10px;" ng-readonly="formIsCompleted" ng-required>
        				</div>
        				<div ng-hide="!selectedForm.layouts.length">
        					<div ng-repeat="section in selectedForm.layouts">
        						<div ng-repeat="i in getColNum(section.Columns) track by $index">
		 							<div style="float:left; border: 1px solid #ccc; border-radius: 4px; display:block; margin:5px;" 
		 								ng-style="{'width': 'calc(98%/'+section.Columns+')'}">
		 								<div ng-repeat="layout in section.formLayoutDetails" ng-if="layout.ColumnSeq == ($parent.$index+1)">
                							<div id="form-group" ng-repeat="values in selectedForm.PFRMPROP">
                								<div class='form-group' ng-if="values.FPSEQ == layout.PropSeq">
                								<label style = 'margin-top:10px; margin-left: 10px;'>{{values.FPNAME}}
                								<label ng-if="values.FPREQ=='Y'"> *</label></label>
                								<input type='checkbox' style = "margin-top: 10px; margin-left: 5px;" id = "{{values.FPSEQ}}" 
                									ng-click="changeCheck(values.FPSEQ)" ng-if="values.FPTYPE == 'CHECKBOX'" ng-readonly="formIsCompleted">
                								<div ng-switch on="values.FPTYPE" style="margin-left: 10px;">
                									<input class='form-control' id = "{{values.FPSEQ}}" ng-switch-when="TEXTFIELD" ng-readonly="formIsCompleted">
                									<textarea class='form-control' rows='10' id="{{values.FPSEQ}}" ng-switch-when="TEXTAREA"
                										 ng-readonly="formIsCompleted">
                									</textarea>
                									<select class='form-control' id = "{{values.FPSEQ}}" ng-switch-when="COMBO" 
                										ng-model="select.value" ng-options="opt as opt for opt in values.FOVALUES track by opt" 
                										ng-readonly="formIsCompleted">
                									</select>
                									<div id='{{values.FPSEQ}}radiogroup' ng-readonly="formIsCompleted" 
                										style = 'padding:8px;border:0px;box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
                										-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);border-radius:4px;' ng-switch-when="RADIO" 
                										ng-repeat="radioValue in values.FOVALUES">
                											<input type='radio' name='{{values.FPSEQ}}' value='{{radioValue}}' style='padding: 8px;' 
                											ng-click="changeRadio(values.FPSEQ, radioValue)">{{radioValue}}<br>
                									</div>
                									<input type='date' id = "{{values.FPSEQ}}" ng-switch-when="DATE" ng-readonly="formIsCompleted">
                									<form action='./rest/FileUploadForm/upload' method='post' ng-readonly="formIsCompleted" 
                										class='dropzone' id = "{{values.FPSEQ}}" enctype='multipart/form-data' ng-switch-when="FILE">
                									</form>
                								</div>
      										</div>
      									</div>
      								</div>
      							</div>
      						</div>
      					</div>
      					</div>
      					<div ng-hide="selectedForm.layouts.length">
      						<div class='form-group'>
                				<label style = 'margin-top:10px; margin-left: 10px;'>{{values.FPNAME}}
                				<label ng-if="values.FPREQ=='Y'"> *</label></label>
                				<input type='checkbox' style = "margin-top: 10px; margin-left: 5px;" id = "{{values.FPSEQ}}" 
                						ng-click="changeCheck(values.FPSEQ)" ng-if="values.FPTYPE == 'CHECKBOX'" ng-readonly="formIsCompleted">
                				<div ng-switch on="values.FPTYPE" style="margin-left: 10px;">
                					<input class='form-control' id = "{{values.FPSEQ}}" ng-switch-when="TEXTFIELD" ng-readonly="formIsCompleted">
                					<textarea class='form-control' rows='10' id="{{values.FPSEQ}}" ng-switch-when="TEXTAREA"
                								 ng-readonly="formIsCompleted">
                					</textarea>
                					<select class='form-control' id = "{{values.FPSEQ}}" ng-switch-when="COMBO" 
                								ng-model="select.value" ng-options="opt as opt for opt in values.FOVALUES track by opt" 
                								ng-readonly="formIsCompleted">
                					</select>
                					<div id='{{values.FPSEQ}}radiogroup' ng-readonly="formIsCompleted" 
                							style = 'padding:8px;border:0px;box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);
                							-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);border-radius:4px;' ng-switch-when="RADIO" 
                							ng-repeat="radioValue in values.FOVALUES">
                						<input type='radio' name='{{values.FPSEQ}}' value='{{radioValue}}' style='padding: 8px;' 
                							ng-click="changeRadio(values.FPSEQ, radioValue)">{{radioValue}}<br>
                					</div>
                					<input type='date' id = "{{values.FPSEQ}}" ng-switch-when="DATE" ng-readonly="formIsCompleted">
                					<form action='./rest/FileUploadForm/upload' method='post' ng-readonly="formIsCompleted" 
                							class='dropzone' id = "{{values.FPSEQ}}" enctype='multipart/form-data' ng-switch-when="FILE">
                					</form>
                				</div>
      						</div>
      					</div>
      					<label id="message" style="color:#FC635E;"></label>
                		<div id="buttondiv">
                			<button type='submit' class='wedobtn' ng-click='submitForm()' ng-if='!formIsCompleted'>Submit</button>
                			<button type='cancel' class='wedobtn' ng-click='cancelForm()' ng-if='!formIsCompleted'>Cancel</button>
		               	 	<button type='reset' class='wedobtn' ng-if='!formIsCompleted'>Reset</button>
                		</div>
                	</div>
           		</div>
     		</div>
		</div>
	</div>
</div>