
<div>
    <div class="row" id="formcontents">
        <div class="col-lg-12">
            <div style="width:100%;margin-bottom:15px;">
                <label style="font-weight:normal;">Form Name</label>
                <input id="FormName" class='form-control' style="display:initial;"ng-model="formName.text"></input>
            </div>                   
            <div class="panel panel-default">
                <div class="panel-heading">
                    Edit Form Fields
                </div>
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="bodycontent">
                    	<table class="sbtable" st-table="displayedFCollection" st-pagination-scroll 
        					st-safe-src="formCollection" class="table table-striped" search-watch-model="query">
							<thead>
								<tr>
									<th style="width:42%; padding-left:1%;">Name</th>   
                                    <th style="width:20%;">Type</th>                                         
                                    <th style="width:28%;">Options (for dropdown box or radio group)</th>
                                    <th style="width:7%; float:left;">Required</th>
                                    <th style="width:2%;"></th>
								</tr>
							</thead>
							<tbody id="tablebody" style="height:100%;overflow-y:hidden;">
								<tr rownumber={{row.FPSEQ}} ng-repeat="row in displayedFCollection">
									<td style="width:40%;"><input class="form-control" ng-model="row.FPNAME"></input></td>
									<td style="width:20%;"><select class="form-control" ng-change="handleValuesEdit(row.FPSEQ)" ng-model="row.FPTYPE">
  	                               		<option value = "">Select Type</option>
  	                               		<option value = "TEXTFIELD">Short Text</option>
  	                               		<option value = "TEXTAREA">Long Text</option>
  	                               		<option value = "COMBO">Dropdown Box</option>
  	                               		<option value = "CHECKBOX">Checkbox</option>
  	                               		<option value = "RADIO">Radio</option>
  	                               		<option value = "DATE">Date</option>
  	                               		<option value = "FILE">File Chooser</option>
  	                               	</select></td>
									<td style="width:30%;" id="{{row.FPSEQ}}FOVALUE" ng-if="row.FOVALUES.length > 0">
										<p id="{{row.FPSEQ}}FOVALUE{{$index+1}}" ng-repeat="value in row.FOVALUES"><input class='form-control' style='display:inline;width: 90%;' ng-model="value"></input>
										<span style='margin-left:10px;' class='fa fa-plus-circle' ng-if="$index+1==1" ng-click='addFormOptionEdit($event)'></span>
										<span style='margin-left:10px;' class='fa fa-minus-circle' ng-if="$index+1!=1" ng-click='removeRow($event)'></span></p>
									</td>
									<td style="width:30%;" id="{{row.FPSEQ}}FOVALUE" ng-if="row.FOVALUES.length == 0">
										<p id="{{row.FPSEQ}}FOVALUE1"><input class='form-control' style='display:inline;width: 90%;' disabled></input><span style='margin-left:10px;' class='fa fa-plus-circle'></span></p>
									</td>
									<td style="width:3% ;"><input type="checkbox" style="margin-top:10px;transform: scale(1.4);-webkit-transform: scale(1.4);" ng-model="row.FPREQ"></td>
									<td style="width:3%;"><image src='./images/remove.png' ng-click="removeElement(row)" style="margin-top:10px""></td>
								</tr>
							</tbody>
						</table>                                                                                                                   
                            <!-- /.row (nested) -->
                    </div>
                </div>                                           
                    <!-- /.panel -->
            </div>
                <!-- /.col-lg-12 -->
        </div>
            <!-- /.row -->
        <div class="row" style = "bottom:55px;">
            <div class="col-lg-12" id="eprocDiv" style="padding-left: 30px;">
            	<label style='font-weight:normal;'>Allow Form to kick off Process/Task: </label> 
            	<select name="selectPorT" style="width: 55%; margin-left:95px;" ng-model="PorT.values" ng-options="pt.TKTMPNM for pt in processtasks track by pt.TKTYPE"></select>
            </div>
            <div class="col-lg-12" id="procDiv" style="padding-left: 30px;">
            	<label style='font-weight:normal;'>Define Process/Task Short Description from Field: </label> 
            	<select name="selectFieldDesc" style="width: 55%; margin-left: 5px;" ng-model="PorT.sdTitle" ng-options="row.FPNAME for row in displayedFCollection">  		
            	</select>
            </div>
            <div style="padding-left: 30px;">
				<label style='font-weight:normal;'>Assign Process to Form Responder?: </label>
				<input type='checkbox' ng-model="selectedForm.FRPASSIGN">
			</div>
            <div class="col-lg-12" id="buttondiv" style="padding-left: 30px;">
	            <button class='wedobtn' ng-click ='addElementEdit();'>Add Element</button>
				<button type='submit' class='wedobtn' ng-click='submitFormEdit()'>Submit</button>                                    
				<button type='reset' class='wedobtn' ng-click='resetForm()'>Reset</button>
				<button class='wedobtn' ng-click='loadFormLayout()'>Form Layout Editor</button>
				<input type ='checkbox' ng-model="externalCheck.isAvailableExternally">
				<label style='font-weight:normal;'>Make Available Externally</label>  
				<div ng-if="selectedForm.FREXTHSH != undefined && selectedForm.FREXTHSH != ''">
					<label style='font-weight:bold;'>URL For Remote Form: </label>
					<input type='text' ng-readonly ng-model="externalLink" style="width: 60%;">
				</div> 	
             </div>
        </div>
    </div>
        <!-- /#page-wrapper -->
</div>
