	<div class="loginbody">
		<div class="loginlogo">
			&nbsp;
		</div>
		<div class="login-card">
			<h4 style="margin-bottom:25px;"><label></label>login</h4>
			<label class="login-carderror">{{errorLabel}}</label>
			<input type="text" id="userid" ng-model="userid" fplaceholder="Email" style="width:280px;" class="login-cardinput" autofocus></input>
			<input type="password" id="password" ng-model="password" ng-enter="submitForm()" placeholder="Password" style="width:280px;" class="login-cardinput"></input>
			<input type="checkbox" name="remember" ng-model="isRemember" style="margin-right: 5px;">Remember Me <br/></input>
			<button id="loginbutton" class="wedobtn" style="width:280px;font-size:1.1em;" ng-click="submitForm()">login</button>
			<div class="login-help">
				<label style="width:125;"><a>Register</a></label>
				<label>&nbsp;||&nbsp;</label>
				<label style="width:125;cursor:pointer;" ng-click="resetPassword()"><a>Forgot Password</a></label>
			</div>
		</div>
    </div>