
<div class="pagebodyNotes">
	<div class='row' id="stay">
	 	<div class='col-lg-12'>
	 		<h4><label></label>Notes</h4>
	 	</div>
	 </div>
	<div>
		<div id = "top">
			<div id = "topLeft">
				<button id="new" class="wedobtn" style="width:100px;font-size:.85em;" ng-click="addNew()" ng-show="userData.NOTM =='2'">New</button>
			</div>
			<div id = "topRight"></div>
		</div>
		<div id = "topClear"></div>
		<div id = "content">
			<div class = "noteEntry">
				<ul id="notesTags" class="tagit ui-widget ui-widget-content ui-corner-all" style="width:80%;">
					<li class="tagit-choice ui-widget-content ui-state-default ui-corner-all tagit-choice-editable"></li>
				</ul>
				<div id="newNoteWrapper" ng-if="isAddNew">
					<div>
							<div text-angular ng-model="$parent.noteText" style="width: 80%;" ta-toolbar="[['bold','italics','underline','ul']]"></div>
					</div>
					<div style="width: 80%; margin-top: 20px;">
						<form action="../rest/FileUploadNotes/upload" drop-zone="" method="post" class="dropzone" id="newFiles" 
								enctype="multipart/form-data"></form>
					</div>
					<div>
						<input type="checkbox" ng-model="pinnedCheck.isPinned"
						ng-if=!pinnedCheck.actualCheck><label ng-if=!pinnedCheck.actualCheck> Pin as Description?</label></br>
						<button id="submit" class="wedobtn" ng-click="submitForm()" ng-if="!editoring" style="font-size:.85em; margin-left: 70%;"">Submit</button>
					</div>
				</div>
				
<!--				<div id="pinnedNote" ng-repeat="note in notes">  -->
				<div id="pinnedNote">
					<p ng-if="pinnedNote.N5TEXT != ''" ng-show="!editoring || editoring && editCount != pinnedNote.count && userData.NOTM =='2'" ng-bind-html="pinnedNote.N5TEXT | unsafe" ng-click="updateNotePre(pinnedNote.N5ID)" style="white-space: pre; font-weight: bold;"></p>
					<div text-angular ng-if="pinnedNote.N5TEXT != ''" ng-show="editoring && editCount == pinnedNote.count" ng-model="pinnedNote.N5TEXT" style="width: 80%;" ta-toolbar="[['bold','italics','underline','ul']]"></div>
					<button id="submit" ng-show="editoring && editCount == pinnedNote.count" class="wedobtn" ng-click="updateNotePost(true)" style="font-size:.85em; margin-left: 70%;"">Submit</button>
				</div>
				<div id="currentNotes" ng-repeat="note in notes">
					<p style='font-size: 1.2em;' ng-if="note.N5IDCMTSEQ==0 && note.N5PINNED != 'Y' && note.ProcessDesc != undefined"><b>Process: </b>{{note.ProcessDesc}}</p>
					<div class='noteBox' ng-if="note.N5IDCMTSEQ == 0 && note.N5PINNED != 'Y'">
							<p ng-show="!editoring || editoring && editCount != note.count" ng-attr-id="{{'existingNote' + note.count}}" ng-bind-html="note.N5TEXT | unsafe"></p>
							<div text-angular ng-show="editoring && editCount == note.count" ng-model="$parent.$parent.editText" style="width: 100%;" ta-toolbar="[['bold','italics','underline','ul']]"></div>
							<button id="submit" ng-show="editoring && editCount == note.count" class="wedobtn" ng-click="updateNotePost(false)" style="font-size:.85em; margin-left: 90%;"">Submit</button>
						<p style='font-size: .85em;'>{{note.SYSUPDBY}}
						<button id="addTag" class="wedobtn" style="font-size:.85em; margin-left: 10px;" ng-if="editoring && editCount == note.count && userData.NOTM == '2'" ng-click="addTags()" stop-event="click" data-toggle='modal' data-target='#addTagsDialog'">Edit Tags</button></p>
						<p><div id='fancyboxes' ng-repeat="attach in note.PNOTE2ATTRecs">
							<a class='fancybox' tabindex='1' href="{{attach.NAPATH}}"><img ng-src="{{attach.NAIMAGEPATH}}" alt='' /></a>
						</div></p>
						<p style='font-size: .7em;'>Note Added Under <b ng-repeat="tag in note.PNOTE2RELs">{{tag.DESC}}</b></p>
						<p><b style='font-size: .7em;'>{{note.SYSUPD}}
						<span bg-attr-id="{{note.N5ID}}" class='adder' ng-click='addComment(note.N5ID)' ng-show="userData.NOTM =='2'">&nbsp;</span>
							<span bg-attr-id="{{note.N5ID}}" class='updater' ng-click="updateNotePre(note.N5ID)" ng-show="userData.NOTM =='2'">&nbsp;</span>
							<span bg-attr-id="{{note.N5ID}}" class='deleter' ng-click='deleteNote(note.N5ID)' ng-show="userData.NOTM =='2'">&nbsp;</span>
						</b></p>
					</div>
					<div class='commentBox' ng-if="note.N5IDCMTSEQ != 0">
						<p ng-attr-id= "{{'existingComment' + note.count}}" style='font-family:open_sansregular; overflow:hidden; word-wrap: break-word; width:80%;'>{{note.N5TEXT}}</p>
						<p style='font-size: .85em;'>{{note.SYSCRTBY}}</p>
						<p><b style='font-size: .7em;'>{{note.SYSCRT}}</b></p>
					</div>
					<div class='commentBox' ng-show="N5ID_cmt == note.N5ID">
						<textarea id="newComment" msd-elastic ng-model="$parent.commentText" class="newCommentBox" autofocus></textarea>
						<button id="submitC" class="wedobtn" style="font-size:.85em; margin-left: 90%;" ng-click="submitComment()">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>&nbsp;</div>
</div>