
<div class="login-card">
	<label class="login-carderror">{{errorLabel}}</label>
	<div ng-if="success">
		<p style="font-size: 1.4em;">Please enter a new password.</p><br/>
		<label style="margin-right: 10.75%;">Password</label>
		<input type="password" id="password" ng-model="pass.pass" style="width:280px;" class="login-cardinput" ng-required></input><br/>
		<label style="margin-right: 8%;">Retype Password</label>
		<input type="password" id="password2" ng-model="pass.passCheck" style="width:280px;" class="login-cardinput" ng-required></input><br/>
		<button id="loginbutton" class="wedobtn" style="width:280px;font-size:1.1em;margin-left:.5%;" ng-click="submitUserValidate()">submit</button>
	</div>
	<div ng-if="!success">
		<p style="font-size: 1.4em;">{{lineOne}}</p><br/>
		<p style="font-size: 1.4em;">Please <a ui-sref="login">click here</a> to return to the login screen.</p><br/>
	</div>
</div>