
<div class="pagebodyForms">
	<div>
		<div class="row">
    		<div class="col-lg-12">
        		<h4 id = "pageheader">Welcome!</h4>
        	</div>
    	</div>
		<div>
			<p style="font-size: 1.4em;">Welcome to Traivio! We just need a little more information before you're ready to go.</p><br/>
			<label style="margin-right: 70px;">Email Address</label>
			<input type="text" id="email" ng-model="email" style="width:280px;" class="login-cardinput" ng-required></input><br/>
			<label style="margin-right: 90px;">First Name</label>
			<input type="text" id="fName" ng-model="fname" style="width:280px;" class="login-cardinput" ng-required></input><br/>
			<label style="margin-right: 92px;">Last Name</label>
			<input type="text" id="lName" ng-model="lname" style="width:280px;" class="login-cardinput" ng-required></input><br/>
			<label style="margin-right: 98px;">Password</label>
			<input type="password" id="password" ng-model="pass" style="width:280px;" class="login-cardinput" ng-required></input><br/>
			<button id="loginbutton" class="wedobtn" style="width:280px;font-size:1.1em;margin-left:14.5%;" ng-click="submitUserValidate()">submit</button>
		</div>
	</div>
</div>