<!-- Modal -->
	<div id="subProcDialog" role="dialog" style="height: 100%; width:750px;" aria-labelledby="myModalLabel">
    	<div>
        	<div class="modal-content">
           		<div class="modal-header">
                	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
                   	<h4 class="modal-title" id="myModalLabel">Additional Information</h4>
              	</div>
                <div class="modal-body" >
                	<table style="width:90%; margin-left:5%; margin-top: 1%; margin-bottom: 1%;">
        				<tr ng-repeat="i in getAddlDispNums() track by $index">
        					<td ng-repeat="req in getAddlName($index) track by $index">
        						<h5 style="display:inline;">{{req.Field}}: </h5>
        						<label ng-if="req.Field != 'Approved' && req.Type != 'check'" class="labelHover" style="font-size:14px; min-height:20px; width: 225px; margin-bottom:0px;" id="{{req.Sort}}" 
        							ng-focus="handleClick(req.Sort, req.Data)" tabindex="{{$index+3}}">{{req.Data}}</label>
        						<input type="checkbox" ng-if="req.Field == 'Approved' || req.Type == 'check'" ng-model="checkbox.selected"/>
        					</td>
        				</tr>
        			</table>   
        			<div style="width:100%;">
        				<h4>Long Description: </h4>
        				<text-angular ng-model="Process.LongDesc" style="width: 100%;" ta-toolbar = "[]"></text-angular>
        			</div>	
                </div>
                <div class="modal-footer">                  	
                    <button type="button" class="wedobtn" data-dismiss="modal" type="submit" ng-click="ok()">Save</button>
                    <button type="button" class="wedobtn" data-dismiss="modal" ng-click="cancel()">Cancel</button>
                </div>
          	</div>
            <!-- /.modal-content -->
       	</div>
        <!-- /.modal-dialog -->
   	</div>
    <!-- /.modal -->