<!-- Modal -->
<div id="columnsDialog" role="dialog" style="height: 100%; width: 600px;" aria-labelledby="myModalLabel">
    <div>
        <div class="modal-content">
           	<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Choose Section Layout</h4>
            </div>
            <div class="modal-body" >
              	<p><b>How Many Columns In The Section?</p>
              	<div class="hover01 column">
              		<div>
              			<figure><img id="column1" src="./images/formslayout/column1.png" ng-click="setColumn(1)"/></figure>
              			<span style="padding-left:20px;">One Column</span>
              		</div>
              		<div>
              			<figure><img id="column2" src="./images/formslayout/column2.png" ng-click="setColumn(2)"/></figure>
              			<span style="padding-left:20px;">Two Columns</span>
              		</div>
              		<div>
              			<figure><img id="column3" src="./images/formslayout/column3.png" ng-click="setColumn(3)"/></figure>
              			<span style="padding-left:20px;">Three Columns</span>
              		</div>
              	</div>              	
            </div>
            <div class="modal-footer">                  	
                <button type="button" class="wedobtn" data-dismiss="modal" ng-click="cancel()">Close</button>
                <button type="button" class="wedobtn" data-dismiss="modal" type="submit" ng-click="ok()">Ok</button>
            </div>
       </div>
            <!-- /.modal-content -->
    </div>
        <!-- /.modal-dialog -->
</div>
    <!-- /.modal -->