<div id="createNewDialog" aria-labelledby="myModalLabel" style="height: 100%; display: block !important;" role="dialog">
	<div>
		<wizard hide-indicators="true"> 
    		<wz-step wz-title="Select Type">
        		<h2 style="margin-left:5%;">What would you like to start?</h2>
        		<div class="focus-circle">
					<img src="./images/tasks/newProcessButton.png" wz-next="setProc(true)" value="Process">
				</div>
				<div class="focus-circle">
					<img src="./images/tasks/newTaskButton.png" wz-next="setProc(false)" value="Task">
				</div>
    		</wz-step>
    		<wz-step wz-title="Select Duration">
        		<h2 style="margin-left:5%;">Recurring or One-Time?</h2>
        		<div class="focus-circle">
					<img src="./images/tasks/recurringImage.png" wz-next="setVal(true)" value="Recurring">
				</div>
				<div class="focus-circle">
					<img src="./images/tasks/oneTimeImage.png" wz-next="setVal(false)" value="OT">
				</div>
    		</wz-step>
    		<wz-step wz-title="Process" wz-disabled="{{whereToT}}" style="margin-left:5%; margin-bottom: 5%;">
        		<h2>Start Process</h2>
        		<p>Please pick a template to begin from: </p>
        		<select name="createPType" style="width: 95%;" ng-model="myprocesstype.value" ng-options="pt.TKTMPNM for pt in processtypes track by pt.TKTYPE"
        			ng-change="loadProcess()"></select>
        		<form name="startProcess" novalidate ng-submit="submitProcess(startProcess.$valid)" ng-if="isProcessReady" style="margin-top:3%;">
					<div class="form-group" ng-class="{ 'has-error': startProcess.title.$invalid && startProcess.title.$touched}">
						<label style="margin-right: 89px;">Title</label>
						<input type="text" name="title" ng-model="mytitle.value" style="width:95%;" class="form-control" required ></input>
						<div class="help-block" ng-messages="startProcess.title.$error" ng-show="startProcess.title.$touched">
    						<div ng-messages-include="./pages/modals/messages.html"></div>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error': startProcess.assigned.$invalid && startProcess.assigned.$touched}">
						<label style="margin-right: 91px;">Assigned</label>
						<select name="createAssign" style="width: 95%;" ng-model="myjobfunction.value" ng-options="jf.DisplayText for jf in jobfunctions | unique: 'DisplayText'"></select>
						<div class="help-block" ng-messages="startProcess.assigned.$error" ng-show="startProcess.assigned.$touched">
    						<div ng-messages-include="./pages/modals/messages.html"></div>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error': startProcess.date.$invalid && startProcess.date.$touched}">
						<label style="margin-right: 70px;">Start Date</label>
						<p class="input-group"><input date-validator type="text" class="form-control" style="width: 100%;" name="date" uib-datepicker-popup="{{format}}" ng-change="resetEnd()" ng-model="dtS" is-open="openedStart" required close-text="Close" />
              				<span class="input-group-btn" style="padding-right:5%;">
                				<button type="button" class="btn btn-default" ng-click="openStartCal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              				</span>
              			</p>
						<div class="help-block" ng-messages="startProcess.date.$error" ng-show="startProcess.date.$touched">
    						<div ng-messages-include="./pages/modals/messages.html"></div>
						</div>
					</div>
					<table style="width:95%; margin-top: 1%; margin-bottom: 1%;">
        				<tr ng-repeat="udf in UDFs" ng-if="udf.UREQ == 'Y'">
        					<td>
        						<label style="display:inline;">{{udf.UNAMID}}</label>
        						<input ng-if="udf.UTYPE != 'check'" id="{{udf.sort}}" value="" class="form-control"/></input>
        						<input type="checkbox" id="{{udf.UNAMID}}" ng-if="udf.UTYPE == 'check'" ng-model="checkbox.selected"/>
        					</td>
        				</tr>
        			</table>
					<p>
						<label style="margin-right: 70px;">Related To</label>
   						<ul id="createTags" class="tagit ui-widget ui-widget-content ui-corner-all" style="width:95%;">
							<li class="tagit-choice ui-widget-content ui-state-default ui-corner-all tagit-choice-editable"></li>
						</ul>
					</p>	
					<div style="border-top: 1px solid #ccc;width: 95%;" ng-if="recur">
						<div class="form-group" ng-class="{ 'has-error': startProcess.frequency.$invalid && startProcess.frequency.$touched}">
							<label style="margin-right: 91px;">Frequency</label>
							<select name="createFrequency" style="width: 100%;" ng-model="myfrequency.value" ng-options="freq.SIFFUL for freq in frequencies" required></select>
							<div class="help-block" ng-messages="startProcess.frequency.$error" ng-show="startProcess.frequency.$touched">
    							<div ng-messages-include="./pages/modals/messages.html"></div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': startProcess.interval.$invalid && startProcess.interval.$touched}">
							<label style="margin-right: 89px;">Recurring Interval</label>
							<input type="text" name="interval" ng-model="myinterval" style="width:100%;" class="form-control" required ></input>
							<div class="help-block" ng-messages="startProcess.interval.$error" ng-show="startProcess.interval.$touched">
    							<div ng-messages-include="./pages/modals/messages.html"></div>
							</div>
						</div>
						<div ng-if="myfrequency.SIFFUL == 'Annual' || myfrequency.SIFFUL == 'Monthly' ||
								myfrequency.SIFFUL == 'Quarterly' || myfrequency.SIFFUL == 'Semi Annual'">
							<div class="form-group" ng-class="{ 'has-error': startProcess.month.$invalid && startProcess.month.$touched}"
								style="display:inline-block; width:48%;">
								<label style="margin-right: 5px;">Month</label>
								<select name="createMonth" style="width: 98%;" ng-model="mymonth" ng-options="mth for mth in months" required></select>
								<div class="help-block" ng-messages="startProcess.month.$error" ng-show="startProcess.month.$touched">
    								<div ng-messages-include="./pages/modals/messages.html"></div>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': startProcess.day.$invalid && startProcess.day.$touched}"
								style="display:inline-block; width: 48%;">
								<label style="margin-right: 5px;">Day</label>
								<select name="createDay" style="width: 98%;" ng-model="myday" ng-options="day for day in days" required></select>
								<div class="help-block" ng-messages="startProcess.day.$error" ng-show="startProcess.day.$touched">
    								<div ng-messages-include="./pages/modals/messages.html"></div>
								</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': startProcess.recurdate.$invalid && startProcess.recurdate.$touched}">
							<label style="margin-right: 70px;">Recurring Stop Date</label>
							<p class="input-group"><input date-validator type="text" class="form-control" style="width: 100%;" name="recurdate" uib-datepicker-popup="{{format}}" ng-model="dtR" is-open="openedRecur" required close-text="Close" />
              					<span class="input-group-btn" style="padding-right:5%;">
                					<button type="button" class="btn btn-default" ng-click="openRecurCal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              					</span>
              				</p>
							<div class="help-block" ng-messages="startProcess.recurdate.$error" ng-show="startProcess.recurdate.$touched">
    							<div ng-messages-include="./pages/modals/messages.html"></div>
							</div>
						</div>
					</div> 
					<button id="loginbutton" type="submit" class="wedobtn" style="width:280px;font-size:1.1em;" ng-click="createNewSubmit()">submit</button>
				</form>
    		</wz-step>
    		<wz-step wz-title="Task" wz-disabled="{{whereToP}}" style="margin-left:5%; margin-bottom:5%;">
    			<h2>Start Task</h2>
        		<p>Please pick a template to begin from: </p>
        		<select name="createTType" style="width: 95%;" ng-model="mytasktype.value" ng-change="selectTask()" ng-options="pt.TSTYPED for pt in tasktypes track by pt.TSTYPE"></select>
        		<form name="startTask" novalidate ng-submit="submitProcess(startTask.$valid)" ng-if="isTaskReady" style="margin-top:3%;">
					<div class="form-group" ng-class="{ 'has-error': startTask.title.$invalid && startTask.title.$touched}">
						<label style="margin-right: 89px;">Title</label>
						<input type="text" name="title" ng-model="mytitle.value" style="width:95%;" class="form-control" required ></input>
						<div class="help-block" ng-messages="startTask.title.$error" ng-show="startTask.title.$touched">
    						<div ng-messages-include="./pages/modals/messages.html"></div>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error': startTask.assigned.$invalid && startTask.assigned.$touched}">
						<label style="margin-right: 91px;">Assigned</label>
						<select name="createAssign" style="width: 95%;" ng-model="myjobfunction.value" ng-options="jf.DisplayText for jf in jobfunctions | unique: 'DisplayText'"></select>
						<div class="help-block" ng-messages="startTask.assigned.$error" ng-show="startTask.assigned.$touched">
    						<div ng-messages-include="./pages/modals/messages.html"></div>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error': startTask.date.$invalid && startTask.date.$touched}">
						<label style="margin-right: 70px;">Start Date</label>
						<p class="input-group"><input date-validator type="text" class="form-control" style="width: 100%;" name="date" uib-datepicker-popup="{{format}}" ng-change="resetEnd()" ng-model="dtS" is-open="openedStart" required close-text="Close" />
              				<span class="input-group-btn" style="padding-right: 5%;">
                				<button type="button" class="btn btn-default" ng-click="openStartCal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              				</span>
              			</p>
						<div class="help-block" ng-messages="startTask.date.$error" ng-show="startTask.date.$touched">
    						<div ng-messages-include="./pages/modals/messages.html"></div>
						</div>
					</div>
					<div class="form-group" ng-class="{ 'has-error': startTask.enddate.$invalid && startTask.enddate.$touched}">
						<label style="margin-right: 70px;">End Date</label>
						<p class="input-group"><input date-validator type="text" class="form-control" style="width: 100%;" name="enddate" uib-datepicker-popup="{{format}}" ng-model="dtE" is-open="openedEnd" required close-text="Close" />
              				<span class="input-group-btn" style="padding-right: 5%;">
                				<button type="button" class="btn btn-default" ng-click="openEndCal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              				</span>
              			</p>
						<div class="help-block" ng-messages="startTask.enddate.$error" ng-show="startTask.enddate.$touched">
    						<div ng-messages-include="./pages/modals/messages.html"></div>
						</div>
					</div>
					<p>	
						<label style="margin-right: 70px;">Related To</label>
   						<ul id="createTags" class="tagit ui-widget ui-widget-content ui-corner-all" style="width:95%;">
							<li class="tagit-choice ui-widget-content ui-state-default ui-corner-all tagit-choice-editable"></li>
						</ul>
					</p>
					<div class="form-group" ng-class="{ 'has-error': startTask.remdate.$invalid && startTask.remdate.$touched}">
						<label>Send A Reminder on the Following Date: </label>
                    	<p class="input-group"><input date-validator type="text" class="form-control" placeholder="" name="remdate" style="width: 100%;" ng-disabled="isProcess" uib-datepicker-popup="{{format}}" ng-model="dtR" is-open="openedRemind" close-text="Close" />
              				<span class="input-group-btn" style="padding-right:5%;">
                				<button type="button" class="btn btn-default" ng-click="openRemindCal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              				</span>
              			</p>
              			<div class="help-block" ng-messages="startTask.remdate.$error" ng-show="startTask.remdate.$touched">
    						<div ng-messages-include="./pages/modals/messages.html"></div>
						</div>
              		</div>  
              		<div style="border-top: 1px solid grey;" ng-if="recur">
						<div class="form-group" ng-class="{ 'has-error': startTask.frequency.$invalid && startTask.frequency.$touched}">
							<label style="margin-right: 91px;">Frequency</label>
							<select name="createFrequency" style="width: 95%;" ng-model="myfrequency.value" ng-options="freq.SIFFUL for freq in frequencies" required></select>
							<div class="help-block" ng-messages="startTask.frequency.$error" ng-show="startTask.frequency.$touched">
    							<div ng-messages-include="./pages/modals/messages.html"></div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': startTask.interval.$invalid && startTask.interval.$touched}">
							<label style="margin-right: 89px;">Recurring Interval</label>
							<input type="text" name="title" ng-model="myinterval" style="width:95%;" class="form-control" required ></input>
							<div class="help-block" ng-messages="startTask.interval.$error" ng-show="startTask.interval.$touched">
    							<div ng-messages-include="./pages/modals/messages.html"></div>
							</div>
						</div>
						<div style="display:inline block;" ng-if="myfrequency.SIFFUL == 'Annual' || myfrequency.SIFFUL == 'Monthly' ||
								myfrequency.SIFFUL == 'Quarterly' || myfrequency.SIFFUL == 'Semi Annual'">
							<div class="form-group" ng-class="{ 'has-error': startTask.month.$invalid && startTask.month.$touched}">
								<label style="margin-right: 91px;">Month</label>
								<select name="createMonth" style="width: 45%;" ng-model="mymonth" ng-options="mth for mth in months" required></select>
								<div class="help-block" ng-messages="startTask.month.$error" ng-show="startTask.month.$touched">
    								<div ng-messages-include="./pages/modals/messages.html"></div>
								</div>
							</div>
							<div class="form-group" ng-class="{ 'has-error': startTask.day.$invalid && startTask.day.$touched}">
								<label style="margin-right: 91px;">Day</label>
								<select name="createDay" style="width: 45%;" ng-model="myday" ng-options="day for day in days" required></select>
								<div class="help-block" ng-messages="startTask.day.$error" ng-show="startTask.day.$touched">
    								<div ng-messages-include="./pages/modals/messages.html"></div>
								</div>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': startTask.stopdate.$invalid && startTask.stopdate.$touched}">
							<label style="margin-right: 70px;">Recurring Stop Date</label>
							<p class="input-group"><input date-validator type="text" class="form-control" style="width: 100%;" name="stopdate" uib-datepicker-popup="{{format}}" ng-model="dtRS" is-open="openedRecur" required close-text="Close" />
              					<span class="input-group-btn" style="padding-right:5%;">
                					<button type="button" class="btn btn-default" ng-click="openRecurCal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              					</span>
              				</p>
							<div class="help-block" ng-messages="startTask.stopdate.$error" ng-show="startTask.stopdate.$touched">
    							<div ng-messages-include="./pages/modals/messages.html"></div>
							</div>
						</div>
					</div>              		     	
					<button id="loginbutton" type="submit" class="wedobtn" style="width:280px;font-size:1.1em;" ng-click="createNewSubmit()">submit</button>
				</form>
   	 		</wz-step>
		</wizard>
	</div>
</div>