
<!-- Modal -->
	<div id="createNewDialog" aria-labelledby="myModalLabel" style="height: 100%; display: block !important;" role="dialog">
    	<div>
        	<div class="modal-content" ng-select="createrecord">
            	<div class="modal-header">
                	<button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Create New</h4>
                </div>
                <form name="createForm" novalidate rc-submit="createNewSubmit()">
                	<div class="modal-body">
                		<div class="form-group" ng-class="{'has-error': rc.createForm.needsAttention(createForm.mytitle)}">
                			<textarea class="form-control" msd-elastic name="mytitle" ng-model="mytitle" style="width: 99.8%; height:25px; max-width: 99.8%" 
                			ng-maxLength="100" required placeholder="Title"></textarea>
                			<span class="help-block" 
             	 				ng-show="createForm.mytitle.$error.required && createForm.mytitle.$dirty">Required</span>
  						</div>
						<div class=form-group>
                   	 		<select name="createPorT" style="width: 99.8%;" ng-change="updateProcess()" ng-model="PorT" ng-options="PorT.type for PorT in Types track by PorT.type"></select>
                   	 	</div>
                   	 	<div class="form-group" ng-show="!isProcess">
                    		<select name="createTType" style="width: 99.8%;" ng-model="mytasktype" ng-change="selectTask()" ng-options="pt.TSTYPED for pt in tasktypes track by pt.TSTYPE">
                    		<option value="">- Task Type -</option></select>
                    		<span class="help-block" style="color: #a94442">{{taskerror}}</span>
                    	</div>
                    	<div class="form-group" ng-show="isProcess">
                    		<select name="createPType" style="width: 99.8%;" ng-model="myprocesstype" ng-options="pt.TKTMPNM for pt in processtypes track by pt.TKTYPE">
                    		<option value="">- Process Type -</option></select>
                    		<span class="help-block" style="color: #a94442">{{processerror}}</span>
                    	</div>
                    	<div class="form-group">
                    		<select name="createAssign" style="width: 99.8%;" ng-model="myjobfunction" ng-options="jf.DisplayText for jf in jobfunctions | unique: 'DisplayText'">
                    		<option value="">-  Assigned -</option></select>
                    	</div>
                    	<div class="form-group" ng-class="{'has-error': rc.createForm.needsAttention(createForm.dtS)}">
                    		<p class="input-group"><input date-validator type="text" class="form-control" placeholder="Start Date" style="width: 99.8%;" name="dtS" uib-datepicker-popup="{{format}}" ng-change="resetEnd()" ng-model="dtS" is-open="openedStart" required close-text="Close" />
              				<span class="input-group-btn">
                				<button type="button" class="btn btn-default" ng-click="openStartCal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              				</span></p>
              				<span class="help-block" 
              					ng-show="createForm.dtS.$error.required">Required</span>
              				<span class="help-block" 
              					ng-show="!createForm.dtS.$valid">Must be in format MM/dd/yyyy</span>
              			</div>
                    	<div class="input-group" ng-hide="isProcess">
                    		<input date-validator type="text" class="form-control" placeholder="End Date" style="width: 99.8%;" ng-disabled="isProcess" uib-datepicker-popup="{{format}}" ng-model="dtE" is-open="openedEnd" close-text="Close" ng-change="updateRemind()"/>
              				<span class="input-group-btn">
                				<button type="button" class="btn btn-default" ng-click="openEndCal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              				</span>
              			</div>
                    	<p>
                    		<ul id="createNotesTags" class="tagit ui-widget ui-widget-content ui-corner-all" style="width:99.8%;">
							<li class="tagit-choice ui-widget-content ui-state-default ui-corner-all tagit-choice-editable"></li>
							</ul>
						</p>
						<div class="input-group" ng-hide="isProcess">
							<label>Send A Reminder on the Following Date: </label>
                    		<input date-validator type="text" class="form-control" placeholder="" style="width: 99.8%;" ng-disabled="isProcess" uib-datepicker-popup="{{format}}" ng-model="dtR" is-open="openedRemind" close-text="Close" />
              				<span class="input-group-btn">
                				<button type="button" class="btn btn-default" ng-click="openRemindCal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              				</span>
              			</div>       	
               		</div>
                	<div class="modal-footer">                  	
                		<button type="button" class="wedobtn" data-dismiss="modal" ng-click="cancel()">Close</button>
                    	<button type="submit" class="wedobtn" value="Ok" title="Ok" ng-click="setValid()">Create</button>
               	 	</div>
               	 </form>
         	</div>
            <!-- /.modal-content -->
      	</div>
     <!-- /.modal-dialog -->
   	</div>
         <!-- /.modal -->