<!-- Modal -->
<div id="editDialog" role="dialog" style="height: 100%;" aria-labelledby="myModalLabel">
    <div>
    	<div class="modal-content">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
   				<uib-tabset active="active">
    				<uib-tab index="0" heading="Edit Widget">			
<!--            	<div class="modal-header">
                	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
                   	<h4 class="modal-title" id="myModalLabel">Edit Widget</h4>
                </div> -->
                <div class="modal-body" ng-select="editwidget">
                    <p><b>Title: </b><input type = "text" ng-model="mytitle.text" placeholder="{{mytitle.text}}" style="width: 95%;" id="editTitle"></input></p> 
                    <p><b>Type: </b><select name="editType" style="width: 95%;" ng-model="data.myport" ng-change="updateProcess()" ng-options="PT.type for PT in Types track by PT.type"></select></p>
                    <p><b>Assigned: </b><select name="editAssign" style="width: 95%;" ng-model="data.myjobfunction" ng-options="jf.DisplayText for jf in jobfunctions | unique: 'DisplayText'"></select></p>
                    <p><b>Group: </b><select name="editRole" style="width: 95%;" ng-model="data.mygroup" ng-options="grp.GRPNAME for grp in groups track by grp.GRPNAME"></select></p>  
                    <p ng-show="!isEditProcess"><b>Type: </b><select name="editTType" style="width: 95%;" ng-model="data.mytasktype" ng-options="pt.TSTYPED for pt in tasktypes track by pt.TSTYPE"></select></p>
                    <p ng-show="isEditProcess"><b>Type: </b><select name="editPType" style="width: 95%;" ng-model="data.myprocesstype" ng-options="pt.TKTMPNM for pt in processtypes track by pt.TKTYPE"></select></p>
                    <p><b>Category: </b><select name="editCat1" style="width: 95%;" ng-model="data.mycategory" ng-options="cat.SIFFUL for cat in categories track by cat.SIFCD"></select></p>
                    <p><b>Status: </b><select name="editStatus" style="width: 95%;" ng-model="data.mystatus" ng-options="st.name for st in status track by st.type"></select></p>
                    <p><b>Show Not Started?: </b><input name="editShowNotStart" type="checkbox" ng-model="data.mynotstart"></input></p> 
                    <p><b>Color: </b><input colorpicker type="text" ng-model="data.mycolor" placeholder="{{data.mycolor}}" style="width: 95%;"/></p>             	
                </div>
                <div class="modal-footer">                  	
                    <button type="button" class="wedobtn" data-dismiss="modal" ng-click="cancel()">Close</button>
                    <button type="button" class="wedobtn" data-dismiss="modal" type="submit" ng-click="ok()">Save changes</button>
                </div>
        	</uib-tab>
       	 	<uib-tab index="1" heading="Change Columns">
       	 		<div class="editColumns">
       	 			<div ng-repeat="column in columns">
       	 				<label style="margin-left: 2%; margin-top: 1%; width: 150px;">{{column.DFNAMID}}</label><input type="checkbox" ng-model="column.checked">
       	 			</div>
       	 			<div ng-repeat="column in ucolumns">
       	 				<label style="margin-left: 2%; margin-top: 1%; width: 150px;">{{column.UNAMID}}</label><input type="checkbox" ng-model="column.checked">
       	 			</div>
       	 		</div>
       	 	</uib-tab>
        </div>
    </div>
</div>