<!-- Modal -->
	<div id="taskTemplatesDialog" role="dialog" style="height: 100%;" aria-labelledby="myModalLabel">
    	<div>
        	<div class="modal-content">
           		<div class="modal-header">
                	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                   	<h4 class="modal-title" id="myModalLabel">Choose Task Template</h4>
              	</div>
                <div class="modal-body" >
                	<select ng-model="selected" ng-options="opt as opt.Desc for opt in taskTemplates"></select>           	
                </div>
                <div class="modal-footer">                  	
                	<button type="button" class="wedobtn" data-dismiss="modal" ng-click="cancel()">Close</button>
                    <button type="button" class="wedobtn" data-dismiss="modal" type="submit" ng-click="ok()">Ok</button>
                </div>
          	</div>
            <!-- /.modal-content -->
       	</div>
        <!-- /.modal-dialog -->
   	</div>
    <!-- /.modal -->